html,
body {
  margin: 0;
}

:root {
  --p1color: rgb(255, 0, 0);
  --p2color: rgb(255, 255, 0);
}

.mycontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.mainscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.mainscreen p {
  margin: 1rem 2rem;
  padding: 0.5rem;
  text-align: center;
}

.mainscreen button {
  padding: 1rem;
  border-radius: 2rem;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.winner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  padding: 0.5rem;
  /* background-color: rgba(0, 0, 255, 0.212); */
  color: aliceblue;
  border-radius: 0.5rem;
  text-align: center;

  -webkit-filter: drop-shadow(0.1rem 0.1rem 0.5rem black);

          filter: drop-shadow(0.1rem 0.1rem 0.2rem black);

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 90%;
}

.winner::after {
  content: " won!";  
  color: aliceblue;
}

.winner span {
  font-weight: bold;
}

.red {
  color: var(--p1color);
}

.yellow {
  color: var(--p2color);
}

.ball {
  width: 10vw;
  height: 10vw;

  margin: auto;

  border-radius: 100%;

  background-color: azure;

  position: relative;
}

.player1 {
  padding: 0;
  margin: 0;
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  background: var(--p1color);
  box-shadow: inset -0.2rem -0.1rem 1rem #00000099,
    0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.5);

  -webkit-animation: dropdown 1s linear 1;

  animation: dropdown 1s linear 1;
}

.player2 {
  padding: 0;
  margin: 0;
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  background: var(--p2color);
  box-shadow: inset -0.2rem -0.1rem 1rem #00000099,
    0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.5);

  -webkit-animation: dropdown 1s linear 1;

  animation: dropdown 1s linear 1;
}

.column {
  margin: 1rem 0;
  display: grid;
  gap: 1rem;
}

.board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.5rem;
  text-align: center;

  margin: 1rem auto;
  padding: 1rem;

  width: 90vw;
  max-width: 500px;

  border-radius: 2rem;

  background-color: blue;

  box-shadow: inset -0.2rem -0.1rem 1rem #00000099,
    0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.5);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 90vw;
  max-width: 500px;
}

header h2 {
  font-size: 1.5rem;
  margin-left: 1rem;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-width: 90%;
}

@-webkit-keyframes dropdown {
  0% {
    transform: translateY(-500%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes dropdown {
  0% {
    transform: translateY(-500%);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (min-width: 500px) {
  .board {
    width: 500px;
    height: 400px;
  }
  header {
    width: 500px;
  }
  .ball {
    width: 50px;
    height: 50px;
  }
  .player1,
  .player2 {
    width: 50px;
    height: 50px;
  }
}
