html,
body {
  margin: 0;
}

.ball {
  width: 100%;
  height: 10vw;

  border-radius: 100%;

  background-color: azure;
}

.column {
  margin: 1rem 0;
  display: grid;
  gap: 1rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1rem;

  margin: 1rem auto;
  padding: 1rem;

  width: 90vw;
  max-width: 700px;

  background-color: blue;
}
